[user]
	email = nelsonbrandao800@gmail.com
	name = Nelson Brandão

[github]
    user = NelsonBrandao

[core]
    excludesfile = ~/.gitignore_global
    editor = nano

[alias]
    unstage = reset --hard HEAD
    amend = commit --amend --reuse-message=HEAD
    df = diff --word-diff
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ldiff = log -p
[color]
	ui = true
[push]
	default = simple
[help]
    autocorrect = 1
[core]
	autocrlf = input
[merge]
	tool = bc4
[diff]
	tool = bc4
[difftool]
	bc4 = trustExitCode
[mergetool]
	bc4 = trustExitCode
