[user]
    email = nelsonbrandao800@gmail.com
    name = Nelson Brandão

[github]
    user = NelsonBrandao

[core]
    excludesfile = ~/.gitignore_global
    editor = nano
    pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
    amend = commit --amend --reuse-message=HEAD
    df = diff --word-diff
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ldiff = log -p
    pf = push --force-with-lease
[color]
    ui = always
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
	newHighlight = "green bold 22"
[push]
    default = simple
[help]
    autocorrect = 10
[core]
    autocrlf = input
[merge]
    tool = bc4
[diff]
    tool = bc4
[difftool]
    bc4 = trustExitCode
[mergetool]
    bc4 = trustExitCode
[init]
	templatedir = /home/walfire/.git-templates
